{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
  <div id="content-main">
    <h1>{{ title }}</h1>

    {% if form.errors %}
      <p class="errornote">{{ form.errors.as_text }}</p>
    {% endif %}

    <form action="{% url 'admin:login' %}" method="post" id="login-form">
      {% csrf_token %}
      <div>
        {{ form.username.label_tag }}
        {{ form.username }}
      </div>
      <div>
        {{ form.password.label_tag }}
        {{ form.password }}
      </div>

      <div>
        <input type="submit" value="{% trans 'Log in' %}">
      </div>
    </form>

    <p style="margin-top:12px;">
      <a href="{% url 'admin_forgot_password' %}">Forgot password (shared-secret)?</a>
      &nbsp;|&nbsp;
      <a href="{% url 'admin_password_reset' %}">Forgot password (email)</a>
    </p>
  </div>
{% endblock %}
